<!DOCTYPE html>
<html>
  <head>
    <title>My Snippets</title>
    <% if ('development' === process.env.NODE_ENV) { %>
      <link rel="stylesheet" type="text/css" href="http://localhost:6789/assets/bundle.css">
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="/built/bundle.css">
    <% } %>
  </head>

  <body>
    <div class="full-height" id="my-snippets"></div>
  </body>

  <% if ('development' === process.env.NODE_ENV) { %>
    <script src='http://localhost:6789/assets/bundle.js'></script>
  <% } else { %>
    <script src='/built/bundle.js'></script>
  <% } %>
</html>
