.code-src, .code-dist {
  font-size: 13px;
  letter-spacing: auto;
  line-height: 20px;
  font-family: 'Monaco', 'Ubuntu Mono', 'Consolas', 'Courier','Courier New', 'Lucida Console', monospace;
}

.code-src {
  width: 100%;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.code-dist {
  overflow: auto;
  background-color: #fdf6e3;
  white-space: pre;
}

code span {
  white-space: nowrap;
}